body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  max-width: 60em;
  padding: 14px 10px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(167, 167, 167, 0.5);
}

header,
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav a {
  padding: 10px 12px;
}

section {
  padding: 24px 20px;
  border-top: 1px solid rgba(167, 167, 167, 0.5);
}

section:first-child {
  border-top: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend Giga', sans-serif;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  margin: 1.5em 0 0;
}

h4 {
  margin: 3em 0 0;
}

a {
  color: rgba(0, 123, 167);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-link--home {
  margin: 0;
  line-height: 1.4;
  padding: 10px 12px;
}

.nav-link--home a {
  color: #222222;
}

p,
blockquote {
  letter-spacing: 0.01em;
  color: #222222;
}

blockquote {
  margin: 1em 0 2em;
  padding-left: 1em;
  max-width: 40em;
  font-size: 20px;
  font-style: italic;
  border-left: 5px rgba(167, 167, 167, 0.5) solid;
}